:root{
    --myColor: #509E2F;
    --myColorGray: #62666B;
    --fontColor: #fff;    
}

@keyframes TurnAndTurn {
  0% { transform: rotateY(0deg); opacity: .0; }
/*  25% { transform: rotateY(40deg) }*/
  50% { transform: rotateY(0deg); opacity: .5;  }
/*  75% { transform: rotateY(40deg) }*/
  100% { transform: rotateY(180deg); opacity: 1;  }
}

body{
    font-family: arial, sans-serif;
}


.main-container{
    display: flex;
/*    flex: 1;*/
/*    align-content: center;*/
    width: 100%;
    flex-direction: column;
    
}

.div-background{
    background-color:  hsla(170, 50%, 45%, 1); 
/*    var(--myColor), #ff12aa; */
    color: var(--fontColor);
    padding: 20px;
    flex: 1;
    align-self: center;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    flex-grow: 1;
    
}

/*Ulti Menu Hamburger*/

.div__Menu-Container{
    position: absolute;
    display: flex;
    position: fixed;
    top: 40px;
    left: 40px;
/*
    width: 100px;
    height: 100px;
*/
    
    
}

input:checked ~ .div__Menu-Container{
    background-color: red;
}

.checkbox__menu{
     position: absolute;
     margin-left: 10px;
     height: 15px;
     opacity: 0;
     z-index: 10;
}


.div__Top-Bar{
    
    background-color: var(--myColor);
    width: 20px;
    height: 3px;
    border-radius: 50px;
    margin: 2px;
    transition: 0.4s;

}


input:checked ~ .div__Top-Bar{
    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--myColorGray);
    
    transform: translate(10.5px, -2px) scale(2) ;   
}



.div__Middle-Bar{
    
    background-color: var(--myColor);
    width: 20px;
    height: 3px;
    border-radius: 5px;
    margin: 2px;
    transition: 0.4s;

}

input:checked ~ .div__Middle-Bar{
    
    width: 18px;
    height: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--myColorGray);
    transform: translate(4px) scale(1) ;   
}

.div__Bottom-Bar{
    
    background-color: var(--myColor);
    width: 20px;
    height: 3px;
    border-radius: 5px;
    margin: 2px;
    transition: 0.4s;

}

input:checked ~ .div__Bottom-Bar{
    
    width: 5px;
    height: 13px;
    border-radius: 0px;
    background-color: var(--myColorGray);
    transform: translate(10.5px) scale(2);   
}

.div__Menu-Options{
    display: flex;
    width: auto;
    height: auto;
    background: #ECECEC;
    transition: 0.4s;
    left: 30px;
    top: 10px;
    transform: translate(-80px, -30px) scale(0);
    color: #ECECEC;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    text-decoration-color: white;
    
    
}

input:checked ~ .div__Menu-Options{
    display: flex;
    width: auto;
    height: auto;
    overflow-x: hidden;
    color: black;
    border-radius: 5px;
    border-top-left-radius: 0px;
    transform: translate(55px, -40px) scale(1);
    box-shadow: 3px 3px 5px #888888;
    
    
}


.ulti-U{
    position: relative;
    display: flex;
    border: 10px solid var(--myColor);
    width: 35px;
    height: 50px;
    border-top: transparent;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
   
    
}

.Spin{
    display: none;
    position: fixed;
    top: 55px;
    left: 27px;
}
        

input:checked ~.Spin{
     display: block;
    perspective: 900px;
     animation: TurnAndTurn .5s;
}

